/*Landing.css */

.textAreaStyle {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border-color 1s ease;
  border-radius: 0.5rem;
  overflow: auto !important;
  padding: 0.5rem;
}

.textAreaStyle::-webkit-scrollbar {
  display: none !important;
}

.textAreaStyle {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.animateHeightWrapper {
  border: 1px solid #cd7f32; /* Make border transparent by default */

  overflow: hidden; /* Hide overflow during animation */
}

/* You can add a class in your React component when height is greater than 0 */
.animateHeightWrapper-expanded {
  border: 1px solid #cd7f32; /* Visible border when expanded */
}
