/*Landing.css */

.textAreaStyle {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border-color 1s ease;
  border-radius: 0.5rem;
  overflow: auto !important;
  padding: 0.5rem;
}

.textAreaStyle::-webkit-scrollbar {
  display: none !important;
}

.textAreaStyle {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  transition: border-color 1s ease; /* Add this line for border transition */
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}
